<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Default" status="WARN" monitorInterval="30" shutdownHook="disable">
	<Properties>
		<Property name="defaultPattern">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p ${hostName} --- [%-15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${defaultPattern}" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="wiremock.org.eclipse.jetty" level="WARN" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>

		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>

</Configuration>
